body {
  background-color:white
}

.day{
  background-color:#bdbdbd;
  padding:1px;
  border-style: groove;
}

.green {
  color: green;
}

.jumbotron {
  background-color: #bdbdbd;
}
.navbar {
  background-color: white;
}